/settings
/tmp
/plugins
/uploads
/upgrade/version
/assets/client
!/assets/images/icons
!/assets/images/aquacore
!/assets/images/captcha_error.png
!/assets/images/check-no.png
!/assets/images/logo.png
/assets/images
config.rb
.idea
.sass-cache
