Options -Indexes
AddType image/x-icon .ico
<IfModule rewrite_module>
  SetEnv APACHE_MOD_REWRITE On
  RewriteEngine On
  RewriteBase /

  RewriteRule ^index\.php$ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(?:(.*)/)?action/?(index)?$ index.php?path=$1 [L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^/?action/(.*)?$ index.php?action=$1 [L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)(?:/action/([^/]+))(.*)?$ index.php?path=$1&action=$2&arg=$3 [L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)(?!/action/?)$ index.php?path=$1 [L,QSA]
</IfModule>
<FilesMatch "\.(shtml?|xml|php([3-5s]|tml)?|in[ic]|conf(ig)?|neon|cache|log|sql)$">
  Order deny,allow
  Deny from all
</FilesMatch>
<Files ~ "^index\..*$">
  Order allow,deny
  Allow from all
</Files>
<Files "img.php">
  Order allow,deny
  Allow from all
</Files>
<Files "captcha.php">
  Order allow,deny
  Allow from all
</Files>
<Files "rate.php">
  Order allow,deny
  Allow from all
</Files>
<Files "ratecomment.php">
  Order allow,deny
  Allow from all
</Files>
<Files "cron.php">
  Order deny,allow
  Deny from all
</Files>
