$assetsPath: "../" !default;

@import "aquacore";

.bbc-quote, quote-wrapper {
	position: relative;
	padding: 0;
	margin: 0;
	border: 1px solid $bluishGray-5;
	@include border-radius(5px);
	font-family: inherit;
	font-size: inherit;
	font-style: none;
}
.bbc-quote-header, .quote-header {
	position: relative;
	padding: 6px 20px 6px 40px;
	font-size: 1.1em;
	text-shadow: 1px 1px 0 0 white;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	border-bottom: 1px solid $bluishGray-3;
	@include border-radius(5px 5px 0 0);
	@include text-shadow(1px 1px 0 0 white);
	@include background(linear_gradient(white, $midGray-2));
	.bbc-quote-date, .quote-date {
		float: right;
		line-height: 1.3em;
		font-size: .90em;
	}
	.bbc-quote-author, .quote-date {
		float: left;
	}
	.bbc-quote-link {
		float: right;
		a {
			display: block;
			width: 16px;
			height: 16px;
			margin-top: 3px;
			margin-left: 10px;
			background: transparent url(#{$assetsPath}images/icons/return.png) center center no-repeat;
		}
	}
}
.bbc-quote-content, .quote-content {
	padding: 5px 10px 3px 10px;
}
.bbc-spoiler, spoiler-wrapper {
	position: relative;
	padding: .2em 10px;
	margin: 1.1em 0 .1em;
	border: 1px solid $bluishGray-5;
	outline: none !important;
	border-radius: 3px;
	background: $lightGray-3;
	@include box-shadow(inset 0 2px 2px rgba(24, 41, 66, 0.30));
}
.bbc-spoiler-title, .spoiler-title {
	position: absolute;
	display: inline-block;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	top: -1em;
	left: 1em;
	outline: none !important;
	border: 1px solid $bluishGray-5;
	padding: .3em 10px;
	font-size: .85em;
	font-weight: bold;
	cursor: pointer;
	@include border-radius(5px);
	@include text-shadow(1px 1px 0 0 white);
	@include background(linear_gradient(white, $midGray-2));
}
.bbc-spoiler-title:hover, .spoiler-title:hover {
	@include box-shadow(inset 0 0 1px rgba(24, 41, 66, 0.30));
	@include background(linear_gradient($lightGray-3, $bluishGray-3));
}
.bbc-spoiler-content, .spoiler-content {
	margin: 1.2em 10px .5em;
	min-height: 1em;
}
.bbc-spoiler-content.hidden, .spoiler-content.spoiler-hidden {
	display: none;
}
.cke_editable .spoiler-content {
	display: block !important;
}
.bbc-hide-text {
	display: inline-block;
	background: white;
	color: white;
}
.bbc-hide-text * {
	visibility: hidden;
}
.bbc-hide-text:hover {
	background: none !important;
	color: inherit !important;
}
.bbc-hide-text:hover * {
	visibility: inherit;
}
ul.bbc-list-none { list-style-type: none; }
ul.bbc-list-decimal { list-style-type: decimal; }
ul.bbc-list-leading-zero { list-style-type: decimal-leading-zero; }
ul.bbc-list-lower-alpha { list-style-type: lower-alpha; }
ul.bbc-list-upper-alpha { list-style-type: upper-alpha; }
ul.bbc-list-lower-roman { list-style-type: lower-roman; }
ul.bbc-list-upper-roman { list-style-type: upper-roman; }
ul.bbc-list-circle { list-style-type: circle; }
ul.bbc-list-disc { list-style-type: disc; }
ul.bbc-list-square { list-style-type: square; }
