<?xml version="1.0" encoding="UTF-8"?>
<languageimport>
  <wordgroup language="en">
    <word namespace="plugin" key="plugins">Plugins</word>
    <word namespace="plugin" key="plugin-settings">Plugin Settings</word>
    <word namespace="plugin" key="x-plugin-settings">Plugin Settings - %s</word>
    <word namespace="plugin" key="activate">Activate</word>
    <word namespace="plugin" key="deactivate">Deactivate</word>
    <word namespace="plugin" key="delete">Delete</word>
    <word namespace="plugin" key="settings">Settings</word>
    <word namespace="plugin" key="name">Plugin Name</word>
    <word namespace="plugin" key="description">Description</word>
    <word namespace="plugin" key="action">Action</word>
    <word namespace="plugin" key="version">Version %s</word>
    <word namespace="plugin" key="author">Author</word>
    <word namespace="plugin" key="by-author">By %s</word>
    <word namespace="plugin" key="plugin-url">Plugin Site</word>
    <word namespace="plugin" key="x-activate-p">%2$s plugins have been activated.</word>
    <word namespace="plugin" key="x-activate-s"><![CDATA[The plugin <b>%s</b> has been activated.]]></word>
    <word namespace="plugin" key="x-deactivate-p">%2$s plugins have been deactivated.</word>
    <word namespace="plugin" key="x-deactivate-s"><![CDATA[The plugin <b>%s</b> has been deactivated.]]></word>
    <word namespace="plugin" key="x-delete-p">%2$s plugins have been deleted.</word>
    <word namespace="plugin" key="x-delete-s"><![CDATA[The plugin "%s" has been deleted.]]></word>
    <word namespace="plugin" key="confirm-delete-s">Are you sure you want to delete this plugin?</word>
    <word namespace="plugin" key="confirm-delete-p">Are you sure you want to delete these plugins?</word>
    <word namespace="plugin" key="settings-saved">Settings saved.</word>
    <word namespace="plugin" key="settings-not-saved">Failed to save settings.</word>
    <word namespace="plugin" key="settings-reset">Settings have been reset.</word>
    <word namespace="plugin" key="failed-to-import"><![CDATA[Failed to import plugin.<br/><i>%s</i>]]></word>
    <word namespace="plugin" key="plugin-imported"><![CDATA[Plugin <b><i>%s</i></b> imported successfully.]]></word>
    <word namespace="plugin" key="import-desc"><![CDATA[Import a plugin. <small>(.ZIP, .TAR, TAR.GZ, .TAR.BZ2)</small>]]></word>
  </wordgroup>
</languageimport>
